#img {
  width: 100%!important;
  height: 200px;
}

.img-cuti {
  display: block;
  margin: 0 auto;
  width: 70%;
  height: 200px;
}

@media (max-width: 568px) {
  #img {
    width: 60%!important;
    height: 200px;
  }

  .img-cuti {
    width: 50%;
    margin-bottom: 50px;
  }
}